[MASTER]

# Ignore the builtin_games folder
ignore=builtin_games

[MESSAGES CONTROL]

# Disable the following warnings:
# W1203: logging-fstring-interpolation - Using f-strings in logging calls
# W0718: broad-exception-caught - Catching too general exception
# C0415: import-outside-toplevel - Import outside toplevel
# R0913: too-many-arguments - Too many arguments
# R1705: no-else-return - Unnecessary "else" after "return", remove the "else" and de-indent the code inside it
# R0917: too-many-positional-arguments - Too many positional arguments
# R0912: too-many-branches - Too many branches
# C0114: missing-module-docstring - Missing module docstring
# R0915: too-many-statements - Too many statements
# C0302: too-many-lines - Too many lines in module
# R0914: too-many-locals - Too many local variables
# R1723: no-else-break - Unnecessary "else" after "break", remove the "else" and de-indent the code inside it
# W0702: bare-except - No exception type(s) specified
# R1724: Unnecessary "else" after "continue", remove the "else" and de-indent the code inside it (no-else-continue)
# C0116: missing-function-docstring
# C0301: line-too-long
# R0902: too-many-instance-attributes


disable=W1203,W0718,C0415,R0913,R1705,R0917,R0912,C0114,R0915,C0302,R0914,R1723,W0702,R1724,C0116,C0301,R0902
